.pip_cache
.tmp
logs
__pycache__
*.pyc
venv
*.lock
.hf_cache/
.xdg_cache/
.vscode/

__pycache__/
*.pyc
*.pyo
*.pyd

*.egg-info/
*.egg
build/
dist/

*/venv/
.env/
.env

logs/
*.log

hf_cache/
.ruff_cache/
*.tmp
.xdg_data/
.triton_cache/

outputs/
configs/
jobs/

data/
all_data/